<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645186470981-5nofdlrotprplr9h8qdkdrfuo36i85k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645186470981-5nofdlrotprplr9h8qdkdrfuo36i85k8</string>
	<key>API_KEY</key>
	<string>AIzaSyDy8mrAwG7VUqB25mVQLC1zx2n1OnXIblQ</string>
	<key>GCM_SENDER_ID</key>
	<string>645186470981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aubPickusup</string>
	<key>PROJECT_ID</key>
	<string>aub-pickusup</string>
	<key>STORAGE_BUCKET</key>
	<string>aub-pickusup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645186470981:ios:e94ab63e3fb48bbff38f2c</string>
</dict>
</plist>